<body>
  <div class="top">
    <h1 style="color: white"><%= link_to "Blog", root_path, class: "home-link" %></h1>
  </div>
  <div class="container">
    <h1><%= @article.title %></h1>
    <p><%= @article.body %></p>

    <ul class="animated-list">
        <li><%= link_to "Edit", edit_article_path(@article), class:"button" %></li>
        <li><%= link_to "Destroy", article_path(@article), class: "button", data: {
                        turbo_method: :delete,
                        turbo_confirm: "Are you sure?"
                      } %></li>
    </ul>
  </div>
</body>